<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="billrda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RDAWebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.9:6100/RDAWebService.asmx" binding="basicHttpBinding" bindingConfiguration="RDAWebServiceSoap" contract="RDA.RDAWebServiceSoap" name="RDAWebServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <billrda.Properties.Settings>
            <setting name="billrda_RDA_RDAWebService" serializeAs="String">
                <value>http://192.168.1.9:6100/RDAWebService.asmx</value>
            </setting>
            <setting name="billrda_RDA_TH_RDAIBService" serializeAs="String">
                <value>http://192.168.1.9:6100/RDAIBService.asmx</value>
            </setting>
        </billrda.Properties.Settings>
    </applicationSettings>
</configuration>
